@import url(https://fonts.googleapis.com/css?family=Roboto);



.cuadrado{
    padding:5px;
    height: 270px;
    margin:5px;
    /* background: rgb(45,126,156); */
    background: linear-gradient(90deg, rgba(45,126,156,1) 0%, rgba(112,192,226,1) 37%, rgba(217,249,255,1) 100%);
    box-shadow: rgb(177, 177, 177) 0.3em 0.5em 0.5em;
    color: white;
    }


.contenido{
  padding:500px; 
  margin:150px;
  background-color: white;
  box-shadow: rgb(177, 177, 177) 0.3em 0.5em 0.5em;
  color: white;
}


/*  */
  .card {
    font-family: 'Roboto', sans-serif;
    height: 350px;
    width: 950px;
    margin:0px auto;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  }

  .card2 {
    font-family: 'Roboto', sans-serif;
    height: 1250px;
    width: 950px;
    margin:0px auto;
    background-color: #FFF;
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
   
  }

  .card3 {
    font-family: 'Roboto', sans-serif;
    float: left;
    height: 208px;
    width: 350px;
    margin:0px auto;
    background-color: #FFF;
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75); 
  }

 .conH {
    height: 150px;
    width: 250px;
    margin:0px auto;
    background-color: #FFF;
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
   
  }


  .habilidades{
    margin-left: 120px;
    margin-right: 10px;  
  }

  .habilidades2{
    margin-left: 520px;
    margin-right: 10px;  
  }
  
  /* Image on the left side */
  .thumbnail {
    float: left;
    position: relative;
    left: 30px;
    top: -30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
  }

  .thumbnail2 {
    float: right;
    position: relative;
    left: 30px;
    top: -30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
  }

  .thumbnail3 {
    float: left;
    position: relative;
    left: 30px;
    top: -5px;
    width: 300px;
    height: 500px;
    /* border-radius: 50%; */
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
  }


 
  
  /*object-fit: cover;*/
  /*object-position: center;*/
  img.left {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  /* Right side of the card */
  .right {
    margin-left: 390px;
    margin-right: 20px;
  }

  .right2 {
    margin-left: 80px;
    margin-right: 20px;
   
  }

  
  .right4 {
    margin-left: 60px;
    margin-right: 20px;
  }
  h1 {
    padding-top: 15px;
    font-size: 1.3rem;
    color: #0098cf;
    /* font-family: 'Times New Roman', Times, serif; */
  }

 

  .separator {
    width: 65%;
    margin-top: 10px;
    border: 1px solid #70c0e28e;
  }

  .separator2{
    width: 72.5%;
    margin-top: 10px;
    border: 1px solid #2d7e9c;
  }
  
  p {
    text-align: justify;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: #4B4B4B;
  }
 
  
  /* Those futur buttons */
  ul {
    margin-left: 250px;
  }
  
  li {
    display: inline;
    list-style: none;
    padding-right: 40px;
    color: #7B7B7B;
  }

  /*  height: 350px;
    width: 950px;
    margin:0px auto; */

  /* Floating action button */
  .fab {
    box-sizing: border-box;
    /* padding-top: 30px; */
    background-color: #1875D0;
    width: 80px;
    height: 80px;
    color: white;
 
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  }



/* */


  
  .div {
    display: inline-block;
    position:absolute;
    top:71%;
    left:76%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
  
  /* Icons */
  
  a {
    color:#fff;
    background: #9f4ea7;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    position: relative;
    display: inline-block;
    width:40px;
    height:40px;
    /* padding-top:12px; */
    margin:0 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
     -webkit-font-smoothing: antialiased;
  }
  
  
  /* pop-up text */
  
  a span {
    color:rgb(206, 31, 182);
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  /* pop-up text arrow */
  
  a span:before {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
  }
  
  /* text pops up when icon is in hover state */
  
  a:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
  }
  


  .custom-shape-divider-top-1635045258 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1635045258 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 186px;
}

.custom-shape-divider-top-1635045258 .shape-fill {
    fill: #FFFFFF;
}



.etiqueta {
  float: right;
  /* margin-right: 3%; */
  display: block;
  position: absolute;
  right: 70%;
  width: 0px;
  height: 120px;
  border-left: 50px solid #2d7e9c;
  border-right: 50px solid #2d7e9c;
  border-bottom: 35px solid transparent;
}

.rectangulo {
  margin-top: 11%;
  position:absolute;
  right:199px;
  top: 393px;
  width: 260px; 
  height: 1250px; 
  background: #70c0e28e;
}





body, .modal{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 
.contenedor{
	width: 400px;
	height: 350px;
	margin: auto;
	background: rgb(255, 255, 255);
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
/* #btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
}  */
.contenedor header{
	padding: 10px;
	background: #39b8e6;
	color: #fff;
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	cursor: pointer;
}
.parrafo{
  text-align: center;
  color: #4B4B4B;
  font-size: 120%;
}
#btn-modal{
	display: none;
  top: 20%;
}
.lbl-modal{
	/* background: #2d7e9c; */
	border-radius: 6px;
	cursor: pointer;
}
