
<div class="cuadrado">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div class="card ">
        <div class="thumbnail"><img class="left" src="assets/img/yo2.jpeg"/></div>
        <div class="right">
          <h1>Erandy Guadalupe Hernández Flores</h1>
          <div class="separator"></div>
          <p>22 años <br>
           31/May/1999 <br>
           Cordoba Ver. Calle San Luis #64 Col. Santa Leticia <br>
           C.P 94476</p>
           <div class="separator"></div>
           <h1>Contacto:</h1>
          <p>Cel. 2711160825 <br>
           Correo: erandyh025@gmail.com</p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="card2">
        <div class="right2">
          <h1>Educación:</h1>
          <h1>Universidad Tecnológica del Centro de Veracruz </h1>
          <p>Tecnologías de la información especializada en Desarrollo de software multiplataforma | 2018-2020 <br>
          Egresada: Técnico Superior Universitario</p>
           <div class="separator"></div>
           <h1>Centro de Bachillerato Tecnológico Industrial y de Servicios #47</h1>
          <p>Carrera Técnica: Programación | 2014-2017</p>
        </div>
          <div class="separator2"></div> <br>
          <div class="right2">
          <h1>Experiencia:</h1>
          <h1>Empresa: Biblioteca publica municipal "Inocencio Romero Júarez" </h1>
          <p>Prácticante auxiliar en el departamento de sistemas | Sep. 2019 - Feb. 2020</p>
          <li type="square">- Analista</li>
          <br>
          <li type="square">- Desarrolladora Back-End</li>

          <h1>Empresa: "La Clavija" </h1>
          <p>Prácticante auxiliar en el departamento de sistemas | May. 2019 - Ago. 2020</p>
          <li type="square">- Analista</li>
          <br>
          <li type="square">- Desarrolladora Back-End</li>
       
          <h1>Empresa: Cloutek S.A de C.V</h1>
          <p>Prácticante en el departamento de sistemas | May. 2020 - Ago. 2020</p>
          <li type="square">- Analista</li>
          <br>
          <li type="square">- Desarrolladora Back-End</li>
          <br>
          <li type="square">- Desarrolladora Frond-End</li>
      </div>

      <div class="separator2"></div> <br>

      <div class="habilidades">
      <div class="card3">
        <h1>Habilidades Profesionales</h1>
        <li type="square">- Liderazgo</li>
          <br>
          <li type="square">- Trabajo en equipo</li>
          <br>
          <li type="square">- Pro-activa</li>
          <br>
          <li type="square">- Capacidad de adaptación</li>
          <br>
          <li type="square">- Toma de decisiones</li>
          <br>
          <li type="square">- Responsable</li>
          <br>
          <li type="square">- Puntual</li>
    </div>
     </div>

     <div class="habilidades2">
        <div class="card3">
            <h1>Habilidades Personales</h1>
            <li type="square">- Honestidad e integridad</li>
          <br>
          <li type="square">- Confianza</li>
          <br>
          <li type="square">- Creatividad</li>
          <br>
          <li type="square">- Organizada</li>
          <br>
          <li type="square">- Persistente</li>
          <br>
          <li type="square">- Empatica</li>
          <br>
          <li type="square">- Auto confianza</li>
        </div>
       </div>
    

</div>







