
<div class="cuadrado">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div class="card ">
        <div class="thumbnail"><img class="left" src="assets/img/yo2.jpeg"/></div>
        <div class="right">
          <h1>Erandy Guadalupe Hernández Flores</h1>
          <div class="separator"></div>
          <p>22 años <br>
           31/May/1999 <br>
           Cordoba Ver. Calle San Luis #64 Col. Santa Leticia <br>
           C.P 94476</p>
           <div class="separator"></div>
           <h1>Contacto:</h1>
          <p>Cel. 2711160825 <br>
           Correo: erandyh025@gmail.com</p>
        </div>
      </div>
      <!-- <div class="fab"></div> -->
      <!-- <br>
      <br>
      <br>
      <br>
      <div class="card2">
          <h1>Educación:</h1>
          <h1>Universidad Tecnológica del Centro de Veracruz </h1>
          <p>Tecnologías de la información especializada en Desarrollo de software multiplataforma | 2018-2020 <br>
          Egresada: Técnico Superior Universitario</p>
           <div class="separator"></div>
           <h1>Centro de Bachillerato Tecnológico Industrial y de Servicios #47</h1>
          <p>Carrera Técnica: Programación | 2014-2017</p>
      </div> -->

</div>







